* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.weather-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.weather-card {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(18px);
  border-radius: 25px;
  padding: 30px;
  color: white;
  text-align: center;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 32px;
  margin-bottom: 8px;
}

.subtitle {
  opacity: 0.9;
  margin-bottom: 25px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box input {
  flex: 1;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 0 15px;
  font-size: 16px;
}

.search-box button {
  border: none;
  background: white;
  color: #2196f3;
  padding: 0 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.search-box button:hover {
  background: #2196f3;
  color: white;
}

.weather-icon {
  font-size: 90px;
}

.weather-info h2 {
  margin-top: 10px;
  font-size: 28px;
}

.temperature {
  font-size: 70px;
  margin: 10px 0;
}

.condition {
  font-size: 20px;
  opacity: 0.9;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
}

.detail-card {
  flex: 1;
  background: rgba(255, 255, 255, 0.15);
  padding: 18px;
  border-radius: 15px;
}

.detail-card span {
  font-size: 28px;
}

.detail-card h3 {
  margin: 10px 0 5px;
  font-size: 22px;
}

.detail-card p {
  font-size: 14px;
  opacity: 0.9;
}

@media (max-width: 500px) {
  .search-box {
    flex-direction: column;
  }

  .search-box button {
    height: 50px;
  }

  .temperature {
    font-size: 55px;
  }

  .details {
    flex-direction: column;
  }
}